/********************************************
*                   main                    *
*********************************************/
.first-section .col-4{height: 33%;}
.first-section img{ width: 100%; height: 100%; }
.logo{width: auto; height: auto; background: url('/images/half-lambda-logo.png');}


/********************************************
*                   header                  *
*********************************************/
