@charset "utf-8";
body {font-family: 'Noto Sans KR';}
/******************
Header
*******************/

/******************
container
*******************/

/******************
box
*******************/
.inner {width: 70%;margin: 0 auto;}
.large-inner {width: 80%;margin: 0 8%;}

/******************
Footer
*******************/

/******************
pagiantion
*******************/

/******************
Input
*******************/

/******************
Button
*******************/

/******************
Table
*******************/

/******************
Tab CSS
*******************/
.tab {background: url("../images/sub_menu.png")no-repeat; background-position: center center; background-size: cover;}
.tab a {font-weight: 500;font-size: 18px;display: inline-block;padding: 40px 0;margin: 0 40px;border-bottom: 0px;}
.tab a.on {color: #e52022;border-bottom: 2px solid #e52022;}
/******************
Card
*******************/

/******************
Grid CSS
*******************/
.row {display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.col-1 {-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
.col-2 {-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
.col-3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
.col-4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
.col-5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
.col-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
.col-7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
.col-8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
.col-9 {-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
.col-10 {-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
.col-11 {-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
.col-12 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}

/******************
CSS option
*******************/
.text-center{text-align: center;}

.text-white{color: white;}



@media (max-width: 1500px) {
    /******************
    Grid CSS
    *******************/
    .col-m-1 {-ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%;}
    .col-m-2 {-ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%;}
    .col-m-3 {-ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;}
    .col-m-4 {-ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%;}
    .col-m-5 {-ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%;}
    .col-m-6 {-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
    .col-m-7 {-ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%;}
    .col-m-8 {-ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%;}
    .col-m-9 {-ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%;}
    .col-m-10 {-ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%;}
    .col-m-11 {-ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%;}
    .col-m-12 {-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
    /******************
    Grid CSS
    *******************/
    .col-sm-1 {-ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%;}
    .col-sm-2 {-ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%;}
    .col-sm-3 {-ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;}
    .col-sm-4 {-ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%;}
    .col-sm-5 {-ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%;}
    .col-sm-6 {-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
    .col-sm-7 {-ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%;}
    .col-sm-8 {-ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%;}
    .col-sm-9 {-ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%;}
    .col-sm-10 {-ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%;}
    .col-sm-11 {-ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%;}
    .col-sm-12 {-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 416px) {
    /******************
    Grid CSS
    *******************/
    .col-xs-1 {-ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%;}
    .col-xs-2 {-ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%;}
    .col-xs-3 {-ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;}
    .col-xs-4 {-ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%;}
    .col-xs-5 {-ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%;}
    .col-xs-6 {-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
    .col-xs-7 {-ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%;}
    .col-xs-8 {-ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%;}
    .col-xs-9 {-ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%;}
    .col-xs-10 {-ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%;}
    .col-xs-11 {-ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%;}
    .col-xs-12 {-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}
}